.content{
    display: block;
}

/* Left Side : Dashboard */
.left_side{
    position:fixed;
    background-color: black;
    color: white;
    height: 100vh;
    width: 35%;
}
.menu_dropdown{
    height: 7%;
    font-size: 2rem;
}

.map{
    height: 50%;
}
#map {
    height: 100%;
  }

.statistic{
}

/* Right Side : Diagnosis */
.right_side{
    position: relative;
    float: right;
    height: 100vh;
    width: 55%;
    margin: 1rem;
}

#step2{
    display:none;
}


#step3{
    display:none;
}

#result{
    display:none;
}

.result-list{
    display:flex;
}
.result-element{
    flex: 1;
    margin: 1rem;
    padding-top: 1rem;
}
.result-element > img{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}